@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1350px;
}
/* Nav Area  */
.nav {
  display: flex;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
  display: inline-block;
  margin-left: 34px;
  margin-top: 95px;
}
.menu-items li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.icon {
  margin-top: 87px;
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.fas {
  font-size: 20px;
}
/* Banner area  */
.banner-section h1 {
  font-style: 52px;
  font-weight: bold;
  color: #3a3a3a;
}
.banner-section {
  width: 50%;
  margin-top: 145px;
}
.image-section {
  width: 50%;
  margin-top: 60px;
  margin-left: 200px;
}
.banner-section p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
.banner-section a {
  text-decoration: none;
  background-color: #e02c6d;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 30px;
}
.fa-arrow-right {
  margin-left: 8px;
  font-weight: 400px;
}
.banner {
  display: flex;
}
.title {
  padding: 0;
  margin: 0;
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 100px 70px;
  /* border-top: 1px solid gray;
  border-bottom: 1px solid gray; */
}
