@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.container{
  width: 1600px;
}
.nav{
    display: flex;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.menu-items li {
    list-style: none;
    display: inline-block;
    margin-left: 34px;
    margin-top: 95px;
}
.menu-items li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.icon{
    margin-top: 87px;
    font-size: 24px;
    font-weight: 700;
    color:  #3A3A3A;
}
.fas{
    font-size:20px;
}


