@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1350px;
}
/* Nav Area  */
.nav {
  display: flex;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
  display: inline-block;
  margin-left: 34px;
  margin-top: 95px;
}
.menu-items li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.icon {
  margin-top: 87px;
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.fas {
  font-size: 20px;
}
/* Banner area  */
.banner-section h1 {
  font-style: 52px;
  font-weight: bold;
  color: #3a3a3a;
}
.banner-section {
  width: 50%;
  margin-top: 145px;
}
.image-section {
  width: 50%;
  margin-top: 60px;
  margin-left: 200px;
}
.banner-section p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
.banner-section a {
  text-decoration: none;
  background-color: #e02c6d;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 30px;
}
.fa-arrow-right {
  margin-left: 8px;
  font-weight: 400px;
}
.banner {
  display: flex;
}
.title {
  padding: 0;
  margin: 0;
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 100px 70px;
  /* border-top: 1px solid gray;
  border-bottom: 1px solid gray; */
}

/* Popluar Collection CSS  */
.collection-title {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #3a3a3a;
}
.collection {
  width: 329px;
  height: 476px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.collection img {
  width: 300px;
  height: 256px;
  border-radius: 15px;
  padding: 17px 14px 0px 14px;
}
.collection h3 {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
  margin-bottom: 0;
  padding-left: 14px;
}
.collection-price {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 14px;
}
.fa-star,
.fa-star-half-alt {
  color: #fb8200;
  font-size: 12px;
}
.rating {
  color: #5e6366;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto;
}
.ratings {
  padding-left: 14px;
}
.collection-detail {
  font-family: "Inter", sans-serif;
  margin: 2px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  color: #787885;
  padding-left: 14px;
}
.popular-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.see-more {
  color: rgba(224, 44, 109, 0.87);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-left: 1120px;
}
/* Contact items css  */
.contact-items {
  display: flex;
  margin-top: 80px;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact a {
  text-decoration: none;
  background-color: #e02c6d;
  width: 30%;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
input {
  width: 500px;
  height: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(224, 44, 109, 0.87);
  border-radius: 5px;
}
textarea {
  border: 1px solid rgba(224, 44, 109, 0.87);
  border-radius: 5px;
  margin-bottom: 15px;
}
.contact h2{
  font-size: 38px;
  color:#0A0826;
}
.map {
  margin-left: 300px;
}

/* Footer CSS  */
footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0a27;
  padding-top: 40px;
}
.footer-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.footer-info {
  font-size: 14px;
  font-weight: bold;
  color: #d9dbe1;
  margin: 5px;
}
.social-icon {
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 20px;
}
.social-icon .fab {
  margin-left: 20px;
  margin-top: 20px;
}
.social-icon a {
  text-decoration: none;
  color: white;
}
